{% extends 'games/base.html' %}
{% block title %} Logowanie {%endblock%}

{% block body %}

    {% if form.errors %}
        <p class ="error">Sorry </p>
    {% endif %}
    <form action="/games/auth" method="post">{% csrf_token %}
        <label for="username">User name: </label>
        <input type="text" name="username" value="" id="username">
        <label for ="password">Password:</label>
        <input type ="password" name="password" value="" id ="password">
        <input type="submit" value="login">
    </form>
{% endblock %}
