{% extends 'games/base.html' %}
{% block title %} Logowanie {%endblock%}

{% block body %}

    {% if form.errors %}
        <p class ="error">Sorry </p>
    {% endif %}
    <form action="{% url 'games:auth' %}" method="post" >{% csrf_token %}
        <label for="username"><h3>Nazwa Użytkownika: </h3> </label>
        <input type="text" name="username" value="" id="username">
        <br>
        <label for ="password"><h3>Hasło:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </h3></label>
        <input type ="password" name="password" value="" id ="password">
        <br>
        <input type="submit"   value="log me in ">

        <!--<input type="reset"   value="log me out">-->
    </form>
{% endblock %}
